/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  /* --color-default: #000000; */
  --color-default: #030c1c;
  --color-primary: white;
  --color-secondary: #ff0505;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  background: var(--color-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: all .3s;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

p {
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.get-btn {
  font-family: var(--font-primary);
  border: 1px solid;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  /* display: inline-block; */
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  /* color: #fff; */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.get-btn:hover {
  background: rgb(255 255 255 / 5%);
  border: 2px solid rgb(239 0 0 / 10%);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  /* color: var(--color-default); */
}

img {
  width: 100%;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  scroll-margin-top: 70px;
  overflow: clip;
  min-height: 100vh;
}

span {
  color: var(--color-secondary);
}

.section-header {
  text-align: center;
  padding: 10px 0px;
  position: relative;
}

.section-header h2 {
  padding-bottom: 12px;
  position: relative;
}

.section-header h2:after {
  content: "";
  height: 3px;
  background: var(--color-secondary);
  position: absolute;
  width: 17%;
  top: 3rem;
  left: 50%;
  top: 115%;
  transform: translate(-50%, -50%);
}

.section-header p {
  padding-bottom: 24px;
  margin-top: 2rem;
}

/*--------------------------------------------------------------
# Section Hero
--------------------------------------------------------------*/
section.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

/*--------------------------------------------------------------
# Section header
--------------------------------------------------------------*/
section .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  /* border: 1px solid; */
}

/*--------------------------------------------------------------
# Section navbar
--------------------------------------------------------------*/
.navbar {
  transition: all .5s ease;
}

.navbar .container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul.logo li {
  font-size: 20px;
}

ul.logo li a {
  margin-left: -50px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  padding: 10px 0 10px 4px;
}

.navbar ul li a {
  padding: 0px 15px;
  font-weight: bold;
}

.navbar ul li .active {
  color: var(--color-secondary);
}

.hero .hero-content {
  position: absolute;
  top: 40%;
  width: 50%;
}

.hero .hero-content h2 {
  font-family: var(--font-primary);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}


.hero .hero-content p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin-bottom: 30px;
}

#menu-icon {
  color: var(--color-primary);
  font-size: 30px;
  z-index: 10000;
  cursor: pointer;
  display: none;
}

.nav-lists li i.bi.bi-x-square {
  color: var(--color-primary);
  display: none;
}

.navbar ul li a.get-btn {
  font-family: var(--font-primary);
  /* border: 1px solid; */
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.navbar ul li a.get-btn:hover {
  background: rgb(255 255 255 / 5%);
  border: 2px solid rgb(239 0 0 / 10%);
}



/*--------------------------------------------------------------
# Section about
--------------------------------------------------------------*/
.about .container {
  margin-top: 2rem;
}

.about .content {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 13px;
}

.about .content .para {
  padding: 0px 14px;
  text-align: justify;
}

.about .image {
  padding: 5px 10px;
}


.about .image img {
  transform: scaleX(-1);
}

/*--------------------------------------------------------------
# Section Services
--------------------------------------------------------------*/

.services .service-item {
  padding: 40px;
  background: #010d23;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  box-shadow: 0px 0px 20px 20px;
  z-index: 2000;
}

.services .service-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.services .service-item .icon i {
  color: var(--color-primary);
  font-size: 56px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}

.services .service-item .icon:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #eeeeee;
  border-radius: 50px;
  z-index: 0;
  top: 10px;
  right: -4px;
  opacity: 0;
  transition: 0.3s;
}


.services .service-item h3 {
  color: var(--color-primary);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #eeeeee;
  transition: 0.3s;
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item .readmore {
  margin-top: 15px;
  display: inline-block;
  color: var(--color-primary);
}

.services .service-item:hover .icon:before {
  background: var(--color-secondary);
  opacity: 1;
}

.services .service-item:hover h3 {
  border-color: var(--color-secondary);
}

/*--------------------------------------------------------------
#  End Section Services
--------------------------------------------------------------*/












@media(max-width:1260px) {
  #menu-icon {
    display: block;
    /* margin-top: -22px; */
    font-size: 30px;
    position: absolute;
    top: 16px;
    right: 8px;
  }

  .navbar ul.logo li {
    font-size: 25px;
  }

  ul.nav-lists {
    position: absolute;
    flex-direction: column;
    top: 52px;
    align-items: self-start;
    right: -100%;
    background: #00001266;
    width: 36%;
    padding: 20px 30px;
    display: block;
    transition: all 0.6s ease;
    opacity: 0;
    border: 2px solid var(--color-secondary);
  }


  .navbar ul li {
    font-size: 15px;
  }


  .navbar .reg {
    margin: 0px -58px;
  }

  .navbar .reg ul li a {
    font-size: 15px;
  }

  .navbar ul li a.get-btn {
    font-size: 15px;
    border: 1px solid var(--color-secondary);
  }

}



@media(max-width:1106px) {
  .hero .hero-content h2 {
    font-size: 46px;
  }
}

@media(max-width:1060px) {
  .hero .hero-content {
    /* width: 90%; */
    width: 86%;
  }

  .hero .hero-content p {
    font-size: 15px;
  }
}

@media(max-width:991px) {
  .section-header h2:after {
    /* left: 18rem; */
  }

  .section-header p {
    margin-top: 2rem;
  }

  .about .content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "image"
      "text";
  }

  .about .content .para {
    grid-area: text;
    margin-top: 3rem;
  }

  .about .image {
    grid-area: image;
  }

}


@media(max-width:960px) {
  ul.nav-lists {
    width: 55%;
  }

}

@media (max-width:767px) {
  .section-header h2:after {
    /* left: 13.4rem; */
  }
}

@media(max-width:630px) {
  ul.nav-lists {
    width: 77%;
  }

}

@media(max-width:575px) {
  .section-header h2:after {
    /* left: 50%;
    top: 115%;
    transform: translate(-50%, -50%); */
  }

  .section-header p {
    margin-top: 2rem;
  }
}

}

@media(max-width:450px) {
  ul.nav-lists {
    width: 100%;
  }

}