/* Fonts */
:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Montserrat", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  /* --color-default: #000000; */
  --color-default: #030c1c;
  --color-primary: white;
  --color-secondary: #ff0505;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  color: var(--color-default);
  background: var(--color-default);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: all .3s;
}

a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

p {
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

.get-btn {
  font-family: var(--font-primary);
  border: 1px solid;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  /* display: inline-block; */
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  /* color: #fff; */
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.get-btn:hover {
  background: rgb(255 255 255 / 5%);
  border: 2px solid rgb(239 0 0 / 10%);
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: var(--font-default);
  /* color: var(--color-default); */
}

img {
  width: 100%;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
  scroll-margin-top: 70px;
  overflow: clip;
  min-height: 40vh;
}

span {
  color: var(--color-secondary);
}

.section-header {
  text-align: center;
  padding: 10px 0px;
  position: relative;
}

.section-header h2 {
  padding-bottom: 12px;
  position: relative;
}

.section-header h2:after {
  content: "";
  height: 3px;
  background: var(--color-secondary);
  position: absolute;
  width: 17%;
  top: 3rem;
  left: 50%;
  top: 115%;
  transform: translate(-50%, -50%);
}

.section-header p {
  padding-bottom: 24px;
  margin-top: 2rem;
}

/*--------------------------------------------------------------
# Section Hero
--------------------------------------------------------------*/
section.hero {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

/*--------------------------------------------------------------
# Section header
--------------------------------------------------------------*/
section .header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  /* border: 1px solid; */
}

/*--------------------------------------------------------------
# Section navbar
--------------------------------------------------------------*/
.navbar {
  transition: all .5s ease;
}

.navbar .container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

ul.logo li {
  font-size: 20px;
}

ul.logo li a {
  margin-left: -50px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar ul li {
  list-style: none;
  padding: 10px 0 10px 4px;
}

.navbar ul li a {
  padding: 0px 15px;
  font-weight: bold;
}

.navbar ul li .active {
  color: var(--color-secondary);
}

.hero .hero-content {
  position: absolute;
  top: 40%;
  width: 50%;
}

.hero .hero-content h2 {
  font-family: var(--font-primary);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}


.hero .hero-content p {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  margin-bottom: 30px;
}

#menu-icon {
  color: var(--color-primary);
  font-size: 30px;
  z-index: 10000;
  cursor: pointer;
  display: none;
}

.nav-lists li i.bi.bi-x-square {
  color: var(--color-primary);
  display: none;
}

.navbar ul li a.get-btn {
  font-family: var(--font-primary);
  /* border: 1px solid; */
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 14px 40px;
  border-radius: 50px;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 2px solid rgba(255, 255, 255, 0.1);
}

.navbar ul li a.get-btn:hover {
  background: rgb(255 255 255 / 5%);
  border: 2px solid rgb(239 0 0 / 10%);
}



/*--------------------------------------------------------------
# Section about
--------------------------------------------------------------*/
.about .container {
  margin-top: 2rem;
}

.about .content {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 13px;
}

.about .content .para {
  padding: 0px 14px;
  text-align: justify;
}

.about .image {
  padding: 5px 10px;
}


.about .image img {
  transform: scaleX(-1);
}

/*--------------------------------------------------------------
# Section Services
--------------------------------------------------------------*/

.services .service-item {
  padding: 40px;
  background: #010d23;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--color-primary);
  box-shadow: 0px 0px 20px 20px;
  z-index: 2000;
}

.services .service-item .icon {
  width: 48px;
  height: 48px;
  position: relative;
  margin-bottom: 50px;
}

.services .service-item .icon i {
  color: var(--color-primary);
  font-size: 56px;
  transition: ease-in-out 0.3s;
  z-index: 2;
  position: relative;
}

.services .service-item .icon:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #eeeeee;
  border-radius: 50px;
  z-index: 0;
  top: 10px;
  right: -4px;
  opacity: 0;
  transition: 0.3s;
}


.services .service-item h3 {
  color: var(--color-primary);
  font-weight: 700;
  margin: 0 0 20px 0;
  padding-bottom: 8px;
  font-size: 22px;
  position: relative;
  display: inline-block;
  border-bottom: 4px solid #eeeeee;
  transition: 0.3s;
}

.services .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .service-item .readmore {
  margin-top: 15px;
  display: inline-block;
  color: var(--color-primary);
}

.services .service-item:hover .icon:before {
  background: var(--color-secondary);
  opacity: 1;
}

.services .service-item:hover h3 {
  border-color: var(--color-secondary);
}

/*--------------------------------------------------------------
#  End Section Services
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#  Section Teams
--------------------------------------------------------------*/
.teams .container-fluid {
  align-items: center;
  display: flex;
  justify-content: center;
}

.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
  margin: auto;
  overflow: hidden;
  position: relative;
  /* width: 960px; */
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100%;
  position: absolute;
  width: 200px;
  z-index: 2;
  margin-top: 0px;
}

.slider::after {
  right: -1px;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: -1px;
  top: 0;
}

.slide-track {
  display: flex;
  width: calc(150px * 14);
  animation: scroll 35s linear infinite;
}

.slide {
  /* height: 100px; */
  width: 150px;
  padding: 5px 0px;
}

.slide-track .slide .slide-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid;
}


.slide-item img {
  transition: transform 0.3s ease;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 12px 3px;
}

.slide-item .popover {
  position: absolute;
  background: var(--color-default);
  width: 200px;
  font-size: 13px;
  top: 41px;
  left: 69px;
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  padding: 13px 15px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.slide-item img:hover {
  transform: scale(1.1);
}

.slide-item:hover .popover {
  opacity: 1;
  pointer-events: auto;
}

.mt-3 {
  margin-top: 2rem !important;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-150px * 7));
  }
}


/*--------------------------------------------------------------
# End Section Teams
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#  Section Portfolio
--------------------------------------------------------------*/

.portfolio .container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.portfolio .portfolio-slider {
  /* height: 52rem; */
  padding: 2rem 0rem;
  position: relative;
}

.portfolio-slide {
  width: 37rem;
  height: 22rem;
  position: relative;
}

.portfolio-slide .portfolio-slide-img img {
  width: 37rem !important;
  height: 22rem !important;
  border-radius: 2rem;
  object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.portfolio-slide-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-slide-control .swiper-button-prev {
  left: 34% !important;
  transform: translateX(-34%) !important;
}

.portfolio-slide-control .swiper-button-next {
  left: 66% !important;
  transform: translateX(-66%) !important;
}

.portfolio-slide-control .slider-arrow {
  position: absolute;
  background: #ffffff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  /* left: 50%; */
  top: 3.6rem;
  /* transform: translateX(-50%); */
  filter: drop-shadow(0px 8px 24px rgba(18, .28, .53, 0.1));
}

.portfolio-slide-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: var(--color-default);
}

.portfolio-slide-control .slider-arrow::after {
  font-size: 24px;
  font-weight: bold;
  color: var(--color-default);
}

.portfolio-slide-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.portfolio-slide-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, .28, .53, 0.1));
}

.portfolio-slide-control .swiper-pagination .swiper-pagination-active {
  background-color: var(--color-primary);
}

.swiper-pagination-bullet-active {
  background: var(--color-primary);
}

/*--------------------------------------------------------------
#  Section end Portfolio
--------------------------------------------------------------*/

@media(max-width:1260px) {
  #menu-icon {
    display: block;
    /* margin-top: -22px; */
    font-size: 30px;
    position: absolute;
    top: 16px;
    right: 8px;
  }

  .navbar ul.logo li {
    font-size: 25px;
  }

  ul.nav-lists {
    position: absolute;
    flex-direction: column;
    top: 52px;
    align-items: self-start;
    right: -100%;
    background: #00001266;
    width: 36%;
    padding: 20px 30px;
    display: block;
    transition: all 0.6s ease;
    opacity: 0;
    border: 2px solid var(--color-secondary);
  }


  .navbar ul li {
    font-size: 15px;
  }


  .navbar .reg {
    margin: 0px -58px;
  }

  .navbar .reg ul li a {
    font-size: 15px;
  }

  .navbar ul li a.get-btn {
    font-size: 15px;
    border: 1px solid var(--color-secondary);
  }

}



@media(max-width:1106px) {
  .hero .hero-content h2 {
    font-size: 46px;
  }
}

@media(max-width:1060px) {
  .hero .hero-content {
    /* width: 90%; */
    width: 86%;
  }

  .hero .hero-content p {
    font-size: 15px;
  }
}

@media(max-width:991px) {
  .section-header p {
    margin-top: 2rem;
  }

  .about .content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "image"
      "text";
  }

  .about .content .para {
    grid-area: text;
    margin-top: 3rem;
  }

  .about .image {
    grid-area: image;
  }

  .portfolio-slide-control .swiper-button-next {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }

  .portfolio-slide-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }

}


@media(max-width:960px) {
  ul.nav-lists {
    width: 55%;
  }

}

@media (max-width:767px) {
  .slider::before,
  .slider::after {
    width: 180px;
  }
}

@media(max-width:630px) {
  ul.nav-lists {
    width: 77%;
  }

  .portfolio .container {
    /* max-width: 85%; */
    padding: 0 1rem;
    margin: 0 auto;
  }

  .portfolio-slide {
    width: 30rem;
    height: 17rem;
    position: relative;
  }

  .portfolio-slide .portfolio-slide-img img {
    width: 30rem !important;
    height: 17rem !important;
    border-radius: 2rem;
    object-fit: cover;
  }


}

@media(max-width:575px) {
  .section-header p {
    margin-top: 2rem;
  }

  .slider::before,
  .slider::after {
    width: 150px;
  }

}


@media(max-width:520px) {
  .portfolio .container {
    max-width: 85%;
  }

  .portfolio-slide {
    width: 80%;
    height: 14rem;
  }

  .portfolio-slide .portfolio-slide-img img {
    width: 100% !important;
    height: 14rem !important;
  }

  .portfolio-slide-control .slider-arrow {
    width: 2rem;
    height: 2rem;
  }

  .portfolio-slide-control .slider-arrow::after {
    font-size: 14px;
  }
}


@media(max-width:450px) {
  ul.nav-lists {
    width: 100%;
  }

  .slider::before,
  .slider::after {
    width: 80px;
  }

  .portfolio-slide {
    width: 80%;
    height: 12rem;
  }

  .portfolio-slide .portfolio-slide-img img {
    width: 100% !important;
    height: 12rem !important;
  }


}

@media(max-width:390px) {

  .portfolio-slide {
    width: 80%;
    height: 10.5rem;
  }

  .portfolio-slide .portfolio-slide-img img {
    width: 100% !important;
    height: 10.5rem !important;
  }


}