<nav class="navbar">
    <div class="container-fluid">
        <ul class="logo">
            <li><a href="">Pciu<span class="active">IEEE.</span></a></li>
        </ul>
        <!-- <i class="bi bi-x-square"></i> -->
        <ul class="nav-lists" id="nav-lists">
            <li><a href="#" class="active">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Event</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Chat</a></li>
            <ul class="reg">
                <li><a class="get-btn" href="">SignUp</a></li>
                <li><a class="get-btn" href="">SignIn</a></li>
            </ul>
        </ul>

        <div class="bx bx-menu" id="menu-icon"></div>
        <div class=""></div>

    </div>
</nav>